<div class="center">
    <div class="card">
        <h1 *ngIf="profile" class="name">
            Welcome {{ profile?.name.first }}!
        </h1>
        <h1 *ngIf="!profile" class="name">
            Welcome!
        </h1>

        <hr>

        <label class="name">
            {{profile?.name.first}} {{profile?.name.last}}
        </label>

        <li class="details">
            {{profile?.location.street}}
        </li>
        <li class="details">
            {{profile?.location.city}}
        </li>
        <li class="details">
            {{profile?.location.state}}
        </li>
        <li class="details">
            {{profile?.location.postcode}}
        </li>
    </div>
</div>

<router-outlet></router-outlet>